* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*colors*/
    --light: #ffffff;
    --dark: #000000;
    --light-blue: #b4d0e7;
    --blue: #0061ff;
    --gray: #eaeaeb;
    --dark-gray: #928d90;
    --button: #4d90ff;
    --square: #f5f5f5;
    --green: #a2d39b;
    --brown: #61082b;
    --pacific-blue: #0093ce;
    --torch-red: #ff1c1c;
    --red: #d5001f;
    --spindle: #b4d0e7;
    --catalina-blue: #0d2481;
    --yellow: #ffd830;

}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-size: 70px;
    margin-bottom: 30px;
}



h2 {
    margin-bottom: 30px;
    font-size: 36px;
}


h3 {
    margin-bottom: 20px;
}


h4 {
    margin-bottom: 20px;
}


p {
    margin: 10px 0;
}


.flex-box {
    display: flex;
}



/*navbar*/
.nav {
    height: 48px;
    width: 100%;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--light);
}


.logo {
    margin-right: 20px;
}



.menu {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


.menu-box {
    height: 100%;
    align-items: center;
}


.menu-box ul {
    height: 100%;
    align-items: center;
}


.menu-box ul li {
    height: 100%;
    line-height: 48px;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
}

.menu-box ul li:hover {
    border-bottom: 1px solid var(--dark);
}


/*dropdown-menu*/
.dropdown {
    background-color: var(--light);
    position: absolute;
    top: 48px;
    height: 0px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.dropdown ul li {
    text-align: center;
    margin: 0 30px;
}


.menu-box ul li:hover .dropdown {
    height: initial;
    padding: 10px;
}




/*buttons-style*/
.button {
    text-align: center;
    color: var(--light);
    background-color: var(--blue);
    padding: 14px 18px;
}


.hero-button {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.small-button {
    display: inline-block;
    height: 30px;
    padding: 6px 14px;
}


.partner-button {
    width: 180px;
    background-color: var(--light);
    border: 1px solid var(--dark-gray);
    border-bottom: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    color: var(--dark);
}


.try-button {
    background-color: var(--light);
    color: var(--dark);
    padding: 14px 35px;
}




.button:hover {
    background-color: var(--button);
}



.partner-button:hover {
    box-shadow: 0px 4px 6px var(--dark);
    background-color: var(--light);
}


.try-button:hover {
    box-shadow: 0px 4px 6px var(--dark);
    background-color: var(--light);
}




/*hero-image/section*/
.hero {
    margin-top: 48px;
    background-color: var(--light-blue);
}



.hero-box {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 74px;
}



.hero-box-section {
    width: 100%;
    justify-content: flex-start;
}

.section {
    width: 30%;
}


.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
}


/*anchor*/
.arrow {
    font-size: 40px;
    margin-top: 40px;
}



.overlay {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    opacity: 0.6;
    visibility: hidden;
}


.menu-box ul li:hover {
    visibility: visible;
}




/*main*/
.main-container {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 120px 30px;
}


/*anchor link*/
#main-link {
    position: absolute;
    top: 20px;
    left: 0;
}


.select {
    margin-bottom: 30px;
}


.select label {
    margin-right: 30px;
}




/*plan-section*/
.plan-box {
    justify-content: space-between;
}


.plan {
    max-width: 310px;
    border: 1px solid var(--gray);
}


.plan-title {
    text-align: center;
    border-bottom: 1px solid var(--gray);
    padding: 10px 0;
}



.plan-container {
    padding: 10px 30px;
}


.plan-description {
    margin: 30px 0;
}


.plan-price-color {
    color: var(--dark-gray);
    position: relative;
    display: block;
    margin-top: 10px;
}



.plan-content {
    margin: 30px 0;
}



.plan-content-item i {
    margin-right: 5px;
    height: 45px;
    margin-bottom: 30px;
}


.buy {
    margin: 30px 0;
}



.buy .button {
    text-align: center;
    margin-bottom: 20px;
}

.option a {
    text-decoration: underline;
    color: var(--blue);
}



.small-line {
    width: 65px;
    border-top: 1px solid var(--dark-gray);
    margin-bottom: 55px;
}


.feature-item {
    margin-bottom: 20px;
}



.feature-item i {
    margin-right: 5px;
    color: var(--blue);
}





.plan-enterprise {
    margin-top: 40px;
    border: 1px solid var(--gray);
}


.plan-enterprise .plan-container {
    justify-content: space-between;
}


.plan-enterprise-left {
    width: 65%;
}



.plan-enterprise-left h4 {
    margin-bottom: 40px;
}


.plan-enterprise-right {
    width: 30%;
    padding: 10px 0;
}





/*partner-section*/
.partner-box {
    width: 100%;
    margin-top: 120px;
}



.partner-image {
    width: 100%;
}


.partner-image img {
    width: 100%;
}



.partner-section {
    width: 80%;
    padding: 40px 45px;
}



/*cards-section*/
.cards-container {
    width: 100%;
    margin-top: 120px;
}


.cards-box {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.card {
    width: calc((100% - 160px) / 3);
    margin: 20px 0;
}



.card-image {
    width: 100%;
}


.card-image img {
    width: 100%;
}




.use-info {
    width: 60%;
    margin-top: 120px;
}


.use-info h2 {
    margin-bottom: 50px;
}


.use-info span a {
    color: var(--blue);
    text-decoration: underline;
}




/*square-section*/
.square-container {
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}



.square {
    width: calc(100vw / 3);
    height: 33.33vw;
    flex-wrap: wrap;
    background-color: var(--square);
}



.middle-square {
    padding: 3%;
}


.middle-square p {
    margin: 10% 0;
}


.middle-square img {
    width: 40%;
    margin-bottom: 30px;
}



.logo-square {
    background-color: #0061ff;
    width: calc(100% / 2);
    height: calc(100% / 2);
}



.logo-square img {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

/*squares-color*/
.logo-square-green {
    background-color: var(--green);
}


.logo-square-brown {
    background-color: var(--brown);
}

.logo-square-pacific-blue {
    background-color: var(--pacific-blue);
}


.logo-square-torch-red {
    background-color: var(--torch-red);
}



.logo-square-red {
    background-color: var(--red);
}

.logo-square-spindle {
    background-color: var(--spindle);
}


.logo-square-catalina-blue {
    background-color: var(--catalina-blue);
}


.logo-square-yellow {
    background-color: var(--yellow);
}



.try-section {
    width: 100%;
    padding: 80px 0;
    background-color: var(--light-blue);
}


.try {
    width: 40%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}



.try h2 {
    margin: 0;
    width: 50%;
}


/*questions-section*/
.questions-box {
    padding: 30px 0;
    border-top: 1px solid var(--dark-gray);
}


.questions-items {
    justify-content: space-between;
    align-items: center;
}

.questions-box h4 {
    margin: 0;
}

.questions-box i {
    margin-right: 40px;
    transition: all 1s ease;
}


.last {
    border-bottom: 1px solid var(--dark-gray);
}


/*accordion-animation*/
.questions-hidden {
    height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.questions-box:hover .questions-hidden {
    height: 80px;
    padding: 10px 0;
}


.questions-box:hover i {
    transform: rotate(180deg);
}




/*footer*/
.footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 40px 0;
}




.footer-box {
    width: 60%;
    margin: 0 auto;
}


.footer-container {
    justify-content: space-between;
}


.footer-col ul li {
    margin: 10px 0;
    cursor: pointer;
}



.footer-icons {
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin-top: 60px;
}


.line {
    width: 140px;
    border-top: 1px solid var(--dark-gray);
    margin-top: 20px;
}



.language {
    width: 110px;
    margin-top: 20px;
    justify-content: space-between;
    cursor: pointer;
}



.language span:hover {
    text-decoration: underline;
}