* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*colors*/
    --light: #ffffff;
    --dark: #000000;
    --light-blue: #b4d0e7;
    --blue: #0061ff;
    --gray: #eaeaeb;
    --dark-gray: #928d90;
}

html {
    scroll-behavior: smooth;
}


body {}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-size: 76px;
    margin-bottom: 30px;
}



h2 {
    margin-bottom: 30px;
    font-size: 36px;
}



h4 {
    margin-bottom: 20px;
}


p {
    margin: 20px 0;
}


.flex-box {
    display: flex;
}


.nav {
    height: 48px;
    width: 100%;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--light);
}


.logo {
    margin-right: 20px;
}



.menu {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


.menu-box {
    height: 100%;
    align-items: center;
}


.menu-box ul {
    height: 100%;
    align-items: center;
}


.menu-box ul li {
    height: 100%;
    line-height: 48px;
    padding: 0 10px;
    margin: 0 20px;
}

.menu-box ul li:hover {
    border-bottom: 1px solid var(--dark);
}



.button {
    text-align: center;
    color: var(--light);
    background-color: var(--blue);
    padding: 14px 18px;
}


.hero-button {
    width: 240px;
}


.small-button {
    display: inline-block;
    height: 30px;
    padding: 6px 14px;
}


.partner-button {
    width: 160px;
    background-color: var(--light);
    border: 1px solid var(--dark-gray);
    border-bottom: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    color: var(--dark);
}


.hero {
    margin-top: 48px;
    background-color: var(--light-blue);
}



.hero-box {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 74px;
}


.hero-box {
    width: 100%;
}

.hero-box-section {
    width: 100%;
    justify-content: flex-start;
}

.section {
    width: 30%;
}


.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
}



.arrow {
    font-size: 40px;
    margin-top: 70px;
}



.main-container {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 120px 30px;
}



#main-link {
    position: absolute;
    top: 20px;
    left: 0;
}


.select {
    margin-bottom: 30px;
}


.select label {
    margin-right: 30px;
}


.plan-box {
    justify-content: space-between;
}


.plan {
    max-width: 310px;
    border: 1px solid var(--gray);
}


.plan-title {
    text-align: center;
    border-bottom: 1px solid var(--gray);
    padding: 10px 0;
}



.plan-container {
    padding: 10px 30px;
}


.plan-description {
    margin: 30px 0;
}


.plan-price-color {
    color: var(--dark-gray);
    position: relative;
    display: block;
    margin-top: 10px;
}



.plan-content {
    margin: 30px 0;
}



.plan-content-item i {
    margin-right: 5px;
    margin-bottom: 35px;
}


.buy {
    margin: 30px 0;
}



.buy .button {
    text-align: center;
    margin-bottom: 20px;
}

.option a {
    text-decoration: underline;
    color: var(--blue);
}


.feature-item {
    margin-bottom: 20px;
}



.feature-item i {
    margin-right: 5px;
    color: var(--blue);
}





.plan-enterprise {
    margin-top: 40px;
    border: 1px solid var(--gray);
}


.plan-enterprise .plan-container {
    justify-content: space-between;
}


.plan-enterprise-left {
    width: 65%;
}



.plan-enterprise-left h4 {
    margin-bottom: 40px;
}


.plan-enterprise-right {
    width: 30%;
    padding: 10px 0;
}




.partner-box {
    width: 100%;
    margin-top: 120px;
}



.partner-image {
    width: 100%;
}


.partner-image img {
    width: 100%;
}



.partner-section {
    width: 80%;
    padding: 40px 45px;
}